################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Explorer-Search.slnx/FileContentIndex
/.gitignore
/.vs
